.showschedule {
    background-color: black;
    opacity: 0.9;


}
.toolbar-title {
  color: white;
}

.toolbar-ios-button{
  color: white;
}

.toolbar-background {
  background-color: black;
  opacity: 0.9;

}
